div table .a{
    text-transform: capitalize;
    display:flex;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(238, 98, 98);
}
.saju {
    position: relative;
    /* align-items: center; */
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin: 66px px 44px;
   
}
table td {
    background-color: rgb(134, 123, 123);
    border: none;
    
}
table th{
    background-color: rgb(214, 215, 230);
    /* position: absolute; */
   text-align: center;
   align-items: center;
   justify-content: center;
   border: none;
}